
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 1.5em;
    margin-right: 2em;
    width: 800px;

}

h1 {
    font-size: 180%;
    color: teal;
    margin-bottom: 1em;
}
h2 {
    font-size: 120%;
    color: teal;
    margin-bottom: 1em;
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
input[type="text"], input[type="email"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
span {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}

.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}
.align_left {
    text-align: left;
}
.align_right {
    text-align: left;
}